@import url('https://fonts.googleapis.com/css2?family=Yantramanav:wght@100;300;400;500;700;900&display=swap');
.card_company {
  background: rgb(81,33,109);
  background: linear-gradient(90deg, rgba(81,33,109,1) 73%, rgba(49,65,124,1) 100%);
}
.company_title{
  color: #fff;
  font-family: 'Yantramanav', sans-serif;
  font-size: 2.5rem;
  font-weight: 500;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  line-clamp: 1;
  -webkit-box-orient: vertical;
  width: fit-content;
  float: left;
  padding-right: 8px;
}
.company_symbol {
  font-family: 'Yantramanav', sans-serif;
  color: #fff;
  font-size: 1.8rem;
  font-weight: 300;
}
p.isNasdaqListed {
  font-weight: 400;
  color: #fff;
  font-family: 'Yantramanav', sans-serif;
  font-size: 1.2rem !important;
  letter-spacing: 0.7px;
  display: inline-block;
}
span.isNasdaqListedSpan {
  font-weight: 200;
}
p.isNasdaq100 {
  font-weight: 400;
  color: #fff;
  font-family: 'Yantramanav', sans-serif;
  font-size: 1.2rem !important;
  letter-spacing: 0.7px;
  display: inline-block;
}
span.isNasdaq100Span {
  font-weight: 200;
}
.company_infos {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: flex-start;
}
.container-title {
  display: flex;
  align-items: center;
}
.company_prices {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  letter-spacing: -1px;
}
.lastSalePrice {
  font-weight: 500;
  color: #fff;
  font-family: 'Yantramanav', sans-serif;
  font-size: 1.9rem !important;
}
span.netChange {
  font-weight: 500;
  font-family: 'Yantramanav', sans-serif;
  color: #d14f59;
  font-size: 1.3rem;
  padding-left: 15px;
}
span.percentageChange{
  font-weight: 500;
  font-family: 'Yantramanav', sans-serif;
  color: #d14f59;
  font-size: 1.3rem;
  padding-left: 9px;
}
.company_timestamp {
  display: flex;
  justify-content: flex-end;
  color: #fff9;
  font-family: 'Yantramanav', sans-serif;
  text-transform: uppercase;
  font-size: 1.3rem;
  font-weight: 400;
}
.company_infos p {
  margin: 0;
}