@import url('https://fonts.googleapis.com/css2?family=Yantramanav:wght@100;300;400;500;700;900&display=swap');
.card_company {
  background-image: linear-gradient(rgba(0,0,0,0.25),rgba(0,0,0,0.25)),linear-gradient(301deg,rgba(44,34,150,0),#7b2297),linear-gradient(rgba(0,82,154,0.95),rgba(0,82,154,0.95)),linear-gradient(121deg,rgba(109,180,62,0),#6db43e),linear-gradient(238deg,rgba(173,32,142,0),#ad208e),linear-gradient(42deg,rgba(0,190,213,0),rgba(0,190,213,0.85) 85%,rgba(0,190,213,0.87) 87%,#00bed5),linear-gradient(126deg,rgba(0,190,213,0),#00bed5),linear-gradient(#594099,#594099) !important;
}
.company_title{
  color: #fff;
  font-family: 'Yantramanav', sans-serif;
  font-size: 2.5rem;
  font-weight: 500;
}
.company_symbol {
  font-family: 'Yantramanav', sans-serif;
  color: #fff;
  font-size: 1.5rem;
  font-weight: 300;
}
p.isNasdaqListed {
  font-weight: 400;
  color: #fff;
  font-family: 'Yantramanav', sans-serif;
  font-size: 1.2rem !important;
  letter-spacing: 0.7px;
  display: inline-block;
}
span.isNasdaqListedSpan {
  font-weight: 200;
}
p.isNasdaq100 {
  font-weight: 400;
  color: #fff;
  font-family: 'Yantramanav', sans-serif;
  font-size: 1.2rem !important;
  letter-spacing: 0.7px;
  display: inline-block;
}
span.isNasdaq100Span {
  font-weight: 200;
}

